img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .black{
    color: black;
  }
  hr{
    color: rgb(50, 115, 235);
  }
  h1{
    color: #D05F4C;

    
  }

